<%= simple_form_for(@ad, html: { class: "form-horizontal" },wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>
          
  <div class="col-md-6 col-md-offset-3">
    <%= f.input :ad_type, collection: Ad::AD_TYPES, prompt: '--请选择广告类型--', label: "广告类型" %>
    
    <div id="content-container" style="display:none;">
      <%= f.input :title, label: "标题" %>
      <%= f.input :message, label: "内容", placeholder: "可选" %>
      <%= f.input :button_titles, label: "提示框按钮文字", placeholder: "多个按钮用英文逗号分隔，例：(取消,确定)" %>
    </div>
    
    <div id="image-container" style="display:none;">
      <%= f.input :portrait_image, label: "竖屏广告图片" %>
      <%= f.input :landscape_image, label: "横屏广告图片" %>
    </div>
    
    <%= f.input :link, label: "链接地址", placeholder: "App商店地址" %>
    
    <%= f.input :lang, collection: Ad::AD_LANGS, prompt: '--请选择广告支持的语言--', label: "支持的语言" %>
    
    <%= f.association :apps, as: :check_boxes, collection: App.all.map { |a| ["#{a.name}-#{a.platform}", a.id] }, label: "所属App" %>
        
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <%= f.submit "提交", class: "btn btn-primary" %>&emsp;<%= link_to '返回', ads_path, class: "btn btn-default" %>
      </div>
    </div>
    
  </div>

<% end %>

<% content_for :scripts do %>
<script>
  $(document).ready(function() {
    
    <% if @ad.ad_type == 1 %>
    $('#image-container').hide();
    $('#content-container').show();
    <% elsif @ad.ad_type == 2 %>
    $('#image-container').show();
    $('#content-container').hide();
    <% end %>
    
    $('#ad_ad_type').change(function() {
      var type = parseInt($(this).val());
      if (type == 1) {
        $('#image-container').hide();
        $('#content-container').show();
      } else if ( type == 2 ) {
        $('#image-container').show();
        $('#content-container').hide();
      } else if ( type == 3 ) {
        
      } else {
        $('#image-container').hide();
        $('#content-container').hide();
      }
    });
  });
  
</script>
<% end %>
