<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-10">
        <h5>文档列表</h5>
      </div>
      <div class="col-sm-2">
        <%= link_to "新建文档", new_wiki_path, class: "btn btn-success pull-right" %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>标题</th>
          <th>最后更新</th>
        </tr>
      </thead>

      <tbody>
        <% @wikis.each do |wiki| %>
          <tr>
            <td width="6%"><%= link_to wiki.id, wiki %></td>
            <td width="40%"><%= wiki.title %></td>
            <td width="12%"><%= local_time(wiki.updated_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<div style="text-align: center;"><%= will_paginate @wikis, renderer: BootstrapPagination::Rails %></div>

