<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-10">
        <h5>玩家列表</h5>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Avatar</th>
          <th>昵称</th>
          <th>UID</th>
          <th>Provider</th>
          <th>设备信息</th>
          <th>语言</th>
          <th>屏幕大小</th>
          <th>At</th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.id %></td>
            <td><%= image_tag(player.avatar, size: '48x48') if player.avatar %></td>
            <td><%= player.nickname %></td>
            <td><%= player.uid %></td>
            <td><%= player.provider %></td>
            <td><%= "【#{player.model}】#{player.platform} #{player.os_version}" if player.model %></td>
            <td><%= "#{player.language_code}_#{player.country_code}" %></td>
            <td><%= player.screen_size %></td>
            <td><%= local_time(player.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<div style="text-align: center;"><%= will_paginate @players, renderer: BootstrapPagination::Rails %></div>

